html, body, #root {
  font-family: 'open sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: inherit;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

